body {
  background: rgba(1, 1, 1, 1);
  overflow  : hidden;
}

#game {
  cursor       : crosshair;
  position     : absolute;
  top          : 50%;
  left         : 50%;
  width        : 100%;
  height       : 100%;
  transform    : translate(-50%, -50%);
  background   : rgba(  9, 9, 16, 1.00 );
  background-image: url('../assets/raster-field.png');
}
#game::-webkit-scrollbar {
  display: none;
}

#map {
  position     : absolute;
  top          : 50%;
  left         : 50%;
  transform    : translate(-50%,-50%);
  width        : 100%;
  height       : 100%;
}
#map::-webkit-scrollbar { display: none; }

/* Oscillation Ring */
.ring-container {
  position : absolute;
  left     : 50%;
  top      : 50%;
  transform: translate( -50%, -50% );
}
.circle {
  width           : 4px;
  height          : 4px;
  background-color: #62bd19;
  background-color: rgba( 129, 216, 208, 1 );
  border-radius   : 50%;
  position        : absolute;
  top             : 5px;
  left            : 5px;
}
.ringring {
  position         : absolute;
  top              : 0px;
  left             : 0px;
  height           : 8px;
  width            : 8px;
  border           : 3px solid #62bd19;
  opacity          : 0.0;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-border-radius: 30px;
  -webkit-animation-iteration-count: infinite; 
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0; border: 3px solid rgba(255, 65, 65, 1 );}
   50% {opacity: 1.0; border: 3px solid rgba(145, 75, 145, 1); }
  100% {-webkit-transform: scale(0.7, 0.7); opacity: 0.0; border: 3px solid rgba(255, 255, 255, 1 );}
}
